* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/grid.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;

  font-family: Arial;
  height: 100vh;
  width: 100%;
}

header {
  /* SUN
  background-image: url('../sun.gif');
  background-repeat: no-repeat;
  background-position: bottom; */
  /* GRID
  background-image: url('../grid.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */

  display: flex;
  height: 60vh;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  position: fixed;
  top: 0;
  height: 7%;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 12px 18px;
}

a {
  color: darkmagenta;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
  color:  rgb(112, 0, 112);
}

.titles {
  background-image: url('https://i.dlpng.com/static/png/5011382-hd-triangle-free-unlimited-download-2925511-sccprecat-purple-triangle-png-1139_1123_preview.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: -1px 57px;
  padding-top: 85px;
  position: relative;
} 

.site-subtitle,
.site-title1,
.site-title2 {
  color: #9e9e9e;
  /* color: #6a2bdf; */
}

.site-title1,
.site-title2 {
  font-size: 2.5em;

  font-family: 'Fugaz One', cursive;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 42px;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.site-subtitle {
  font-style: italic;
  font-size: 1.6em;
  font-weight: normal;
  font-family: 'Damion', cursive;
  color: #ff00d4;
  text-shadow: 0px 0px 8px rgb(255, 136, 156);
  line-height: 10px;
  right: -40px;
  position: absolute;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.img-portfolio {
  width: 250px;
  height: 180px;
  margin-bottom: 80px;
  object-fit: cover;
}

figcaption {
  font-size: 1.5em;
  color: white;
}

@media (min-width: 640px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .titles {
    font-size: 1.2em;
  }

  .site-subtitle {
    right: -50px;
  }

  .img-portfolio {
    margin: 0;
  }
}

@media (min-width: 1130px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
} 