* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Share Tech Mono', monospace;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.container--about {
  max-width: 755px;
  background-color: #111111c4;
  padding: 2em;
}

.container--contact {
  max-width: 755px;
  background-color: #111111;
  padding: 2em;
}

.background-grid {
  background-image: url('../img/grid.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

header {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}

.menu {
  position: fixed;
  top: 0;
  height: 7%;
  width: 100%;
  background-color: #000000cc;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 12px 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Fugaz One', sans-serif;
  background: none;
}

.menu li:active a,
.menu li:hover a {
  animation: linkMenu 0.15s forwards;
}

@keyframes linkMenu {
  0% {
    text-shadow: none;
    transform: translate(0, 0);
  }

  30% {
    text-shadow: 8px -1px 1px #9c00086b;
    transform: translate(-5px, 2px);
  }

  60% {
    text-shadow: 8px -1px 1px #9c00086b;
    transform: translate(-5px, 2px);
  }

  100% {
    text-shadow: -8px -1px 1px #9c00086b;
    transform: translate(5px, 2px);
  }
}

a {
  color: #9c009c;
  text-decoration: none;
  font-size: 18px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.logo::after {
  content: '';
  background-image: url('../img/tri-neon.png');
  background-repeat: no-repeat;
  background-size: 17em;
  background-position:  center;
  width: 100%;
  height: 100%;
  margin-left: -9px;
  position: absolute;
  z-index: -1;
}



.titles {
  position: relative;
}

.title-img {
  width: 25em;
  max-width: 100%;
}

.site-subtitle {
  font-style: italic;
  font-size: 2em;
  font-weight: normal;
  font-family: 'Damion', cursive;
  color: #111111;
  text-shadow: none;
  text-align: right;
  position: absolute;
  bottom: -17px;
  right: 17px;

  animation: 1s turnOnLight ease-in 1s infinite forwards;
  animation-iteration-count: 1;
}

.light {
  animation: 4s blink 2.5s infinite;
}

@keyframes turnOnLight {
  0% {
    color: #111111;
    text-shadow: none;
  }
  10% {
    color: #ff00d4;
    text-shadow: 0px 0px 10px #ff009d;
  }
  20% {
    color: #111111;
    text-shadow: none;
  }
  30% {
    color: #ff00d4;
    text-shadow: 0px 0px 10px #ff009d;
  }
  35% {
    color: #111111;
    text-shadow: none;
  }
  100% {
    color: #ff00d4;
    text-shadow: 0px 0px 10px #ff009d;
  }
}

@keyframes blink {
  10% {
    color: #ff00d4;
    text-shadow: 0px 0px 10px #ff009d;
  }
  11% {
    color: #111111;
    text-shadow: none;
  }
  15% {
    color: #ff00d4;
    text-shadow: 0px 0px 10px #ff009d;
  }
  20% {
    color: #111111;
    text-shadow: none;
  }
  28% {
    color: #ff00d4;
    text-shadow: 0px 0px 10px #ff009d;
  }
}

/* PORTFOLIO */
.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding-top: 70px;
  justify-items: center;
}

.image {
  position: relative;
  width: 250px;
  height: 180px;
  margin-bottom: 80px;
}

.image1::after,
.image2::after,
.image3::after {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  background-color: #8bbfeb;
  box-shadow: 0 0 16px 8px #c4036d;
  opacity: 0;
}

.image1::after {
  top: 0;
  animation: 6s scan 5s infinite;
}

.image2::after {
  bottom: 0;
  animation: 6s scan 8s infinite;
}

.image3::after{
  top: 0;
  animation: 6s scan 1s infinite;
}

@keyframes scan {
  0% {
    opacity: 0;
    left: 0;
  }
  60%{
    opacity: 0;
    left: 0;
  }
  91% {
    opacity: 1;
  }
  100% {
    left: 100%;
  }
}

.img-portfolio {
  background-color: #eee;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #9c009c;
  box-shadow: 0 0 12px 4px #9c005686;
  border-radius: 4px;
}

.cover {
  color: transparent;
  background-color: #00000046;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;

  transition: 0.5s;
}

.image:hover .cover {
  background: none;
}

figcaption {
  font-family: 'Fugaz One', sans-serif;
  font-size: 1.5em;
  color: #339ef7;
  /* color: #2196F3; */
  text-transform: uppercase;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 0.2em;
}

/* SOBRE */
.about {
  background-color: #111111;
  background-image: url('../img/mini-grid.png');
  background-size: contain;
  background-blend-mode: color-dodge;
  padding: 5em auto 5em auto;
  min-height: 100vh;
  position: relative;
}

.about h2,
.contact h2 {
  font-size: 2em;
  color: #2196F3;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-shadow: 0 0 4px #2196F3;
}

.about .profile {
  width: 190px;
  height: 236px;
  margin: 0 auto 2em auto;
  position: relative;
}

.about .profile::after {
  content: '';
  background-image: url('../img/mini-grid.png');
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  animation: miniGrid ease 4s infinite;
}

@keyframes miniGrid {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.25;
  }
  40% {
    opacity: 0;
  }
}

.about .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -56px;
}

.name {
  font-weight: bold;
}

p {
  color: #2196F3;
  text-shadow: 0 0 3px #2195f3cc;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.skill {
  text-indent: 1em;
}

.status {
  position: relative;
  padding-left: 30px;
  animation: 1.5s status infinite;
}

.status::before {
  content: '';
  position: absolute;
  background-color: rgb(1, 153, 1);
  left: 0;
  top: 8px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px rgba(0, 250, 28, 0.72);
}

@keyframes status {
  from {
    font-weight: normal;
  }
  to {
    font-weight: bold;
    color: #0d8f88;
    text-shadow: 0 0 2px #0d8a83;
  }
}

.call {
  margin-top: 2em;
  text-align: right;
}

.call a {
  font-weight: bold;
  font-size: 1em;
  text-shadow: none;
  text-shadow: 0 0 4px #ca027783;
}

/* CONTATO */
.contact {
  min-height: 100vh;
  background-color: #111111;
}

.icons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5em;
}

.icons a {
  color: #0d8f88;
  font-size: 6em;
  margin-bottom: 0.5em;
  position: relative;
}

.icons a::after {
  content: '[ ]';
  opacity: 0;
  font-size: 1.7em;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 28px;

  transition: .4s;
}

.icons a:active i,
.icons a:hover i {
  color: #2196F3;
  text-shadow: 0 0 4px #2196F3;
}

.icons a:active::after,
.icons a:hover::after {
  opacity: 0.5;
  font-size: 1.3em;
  bottom: 14px;
  text-shadow: 0 0 5px #0d8f88;
}

/* RESPONSIVIDADE */
@media (min-width: 375px) {
  .logo::after {
    margin-left: -30px;
  }
}

@media (min-width: 453px) {
  .about .profile {
    float: left;
    margin-right: 2em;
    margin-bottom: 1.7em;
  }
}

@media (min-width: 640px) {
  .container--contact,
  .container--about {
    max-width: 755px;
    padding: 3em;
  }

  .portfolio {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    height: 100vh;
  }

  .logo::after,
  .titles {
    font-size: 1.2em;
  }

  .img-portfolio {
    margin: 0;
  }

  .about {
    padding-left: 2em;
    padding-right: 2em;
  }

  .icons {
    height: 50vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .icons a {
    width: 100%;
  }

  .icons a::after {
    opacity: 0;
    font-size: 0.9em;
    bottom: 2px;
    transform: scale(1.5);
  }

  .icons a:active::after,
  .icons a:hover::after {
    font-size: 1.1em;
    bottom: 6px;
    transform: scale(1);
  }
}

@media (min-width: 660px) {
  .about .profile {
    width: 230px;
    height: 300px;
  }
}

@media (min-width: 1130px) {
  .portfolio {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
} 